@charset "utf-8";
/* CSS Document */
.w3-theme-l5 {color:#000 !important; background-color:#f8f8f9 !important}
.w3-theme-l4 {color:#000 !important; background-color:#e6e7ec !important}
.w3-theme-l3 {color:#000 !important; background-color:#cecfd8 !important}
.w3-theme-l2 {color:#000 !important; background-color:#b5b8c5 !important}
.w3-theme-l1 {color:#fff !important; background-color:#9da0b2 !important}
.w3-theme-d1 {color:#fff !important; background-color:#747892 !important}
.w3-theme-d2 {color:#fff !important; background-color:#666b82 !important}
.w3-theme-d3 {color:#fff !important; background-color:#5a5d72 !important}
.w3-theme-d4 {color:#fff !important; background-color:#4d5062 !important}
.w3-theme-d5 {color:#fff !important; background-color:#404351 !important}

.w3-theme-light {color:#000 !important; background-color:#f8f8f9 !important}
.w3-theme-dark {color:#fff !important; background-color:#404351 !important}
.w3-theme-action {color:#fff !important; background-color:#404351 !important}

.w3-theme {color:#fff !important; background-color:#84889f !important}
.w3-text-theme {color:#84889f !important}
.w3-border-theme {border-color:#84889f !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#84889f !important}
.w3-hover-text-theme:hover {color:#84889f !important}
.w3-hover-border-theme:hover {border-color:#84889f !important}

/* Size-independent styles */

body{
	padding-top:45px;
}

#topBar{
	
}


#sideNav ul, #footer ul{
	list-style: none;
}

.subNav{
	margin-left: 20px;
	font-size: 80%;
}

#mainContent {
	margin: 0 auto;
}

#footer {
	margin-top: 10px;
	width: 100%;
}

.mySlides {
	display: none;
}

/* LINK STYLES */
	.iconlink {
		text-decoration: none;
	}

/* TOP BAR - unvisited link | visited link */
#topBar a:link, #footer a:link {
  color: #e6e7ec !important;
  text-decoration: none;
}

#topBar a:visited, #footer a:visited {
  color: #e6e7ec;
  text-decoration: none;
}

/* TOP BAR - mouse over link | selected link */
#topBar a:hover, #footer a:hover {
  color: #fff;
  text-decoration: none;
}
#topBar a:active, #footer a:active {
  color: #fff;
  text-decoration: none;
}


/* SIDENAV - unvisited link | visited link */
#sideNav a:link{
  color: #747892;
  text-decoration: none;
}
#sideNav a:visited {
  color: #747892;
  text-decoration: none;
}

/* SIDENAV - mouse over link | selected link */
#sideNav a:hover {
  color: #84889f;
  text-decoration: underline;
}
#sideNav a:active {
  color: #84889f;
  text-decoration: underline;
}


/* Large-specific styles */

@media only screen and (min-width: 993px) {

	body{
		font-size: 150%;
	}
	
#mainContent {
	max-width: 45%;
}

#sideNav{
	width: 15%;
	height: auto;
}
	
}/* end large styles */

/* Medium-specific styles */

@media only screen and (max-width: 992px) {

#sideNav{
	width: 100%;
	height: 100%;
}
	
}/* end medium styles */

/* Small-specific styles */

@media only screen and (max-width: 600px) {

#sideNav{
	width: 100%;
	height: 100%;
}

	
}/* end small styles */